@import '~antd/es/style/themes/default.less';

@pro-layout-page-header-wrap: ~'@{ant-prefix}-pro-page-header-wrap';

.@{pro-layout-page-header-wrap}-children-content {
  margin: 24px 24px 0;
}

.@{pro-layout-page-header-wrap}-page-header-warp {
  background-color: @component-background;
}

.@{pro-layout-page-header-wrap}-main {
  .@{pro-layout-page-header-wrap}-detail {
    display: flex;
  }

  .@{pro-layout-page-header-wrap}-row {
    display: flex;
    width: 100%;
  }

  .@{pro-layout-page-header-wrap}-title-content {
    margin-bottom: 16px;
  }

  .@{pro-layout-page-header-wrap}-title,
  .@{pro-layout-page-header-wrap}-content {
    flex: auto;
  }

  .@{pro-layout-page-header-wrap}-extraContent,
  .@{pro-layout-page-header-wrap}-main {
    flex: 0 1 auto;
  }

  .@{pro-layout-page-header-wrap}-main {
    width: 100%;
  }

  .@{pro-layout-page-header-wrap}-title {
    margin-bottom: 16px;
  }

  .@{pro-layout-page-header-wrap}-logo {
    margin-bottom: 16px;
  }

  .@{pro-layout-page-header-wrap}-extraContent {
    min-width: 242px;
    margin-left: 88px;
    text-align: right;
  }
}

@media screen and (max-width: @screen-xl) {
  .@{pro-layout-page-header-wrap}-main {
    .@{pro-layout-page-header-wrap}-extraContent {
      margin-left: 44px;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .@{pro-layout-page-header-wrap}-main {
    .@{pro-layout-page-header-wrap}-extraContent {
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: @screen-md) {
  .@{pro-layout-page-header-wrap}-main {
    .@{pro-layout-page-header-wrap}-row {
      display: block;
    }

    .@{pro-layout-page-header-wrap}-action,
    .@{pro-layout-page-header-wrap}-extraContent {
      margin-left: 0;
      text-align: left;
    }
  }
}

@media screen and (max-width: @screen-sm) {
  .@{pro-layout-page-header-wrap}-detail {
    display: block;
  }
  .@{pro-layout-page-header-wrap}-extraContent {
    margin-left: 0;
  }
}
