@import '~antd/es/style/themes/default.less';
@import '../index';

.@{pro-list-prefix-cls}-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 24px;
  line-height: 64px;
  &-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-item-icon {
    margin-left: 16px;
    font-size: 16px;
    cursor: pointer;
    &:first-child {
      margin-left: 8px;
    }
  }

  &-title {
    flex: 1;
    color: @label-color;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.85;
  }
}

@media (max-width: 575px) {
  .@{pro-list-prefix-cls}-toolbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16px;
    margin-left: 16px;
    padding: 0;
    line-height: normal;

    &-option {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-default-option {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
