@import '~antd/es/style/themes/default.less';

@basicLayout-prefix-cls: ~'@{ant-prefix}-pro-basicLayout';

.@{basicLayout-prefix-cls} {
  height: 100%;
  transform: rotate(0);

  .ant-layout {
    transition: all 0.2s;
  }

  .ant-layout-header {
    &.ant-pro-fixed-header {
      position: sticky;
    }
  }

  &-content {
    position: relative;
    margin: 24px;
    .ant-layout {
      transform: rotate(0);
    }
    &-disable-margin {
      margin: 0;
    }
  }

  // default children layout height
  .@{basicLayout-prefix-cls}-is-children,
  .@{basicLayout-prefix-cls}-is-children > .ant-layout {
    height: calc(100vh - @layout-header-height);
  }
}
