@import '~antd/es/style/themes/default.less';

@pro-core-label-tip: ~'@{ant-prefix}-pro-core-label-tip';

.@{pro-core-label-tip} {
  &-icon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.45);
  }
}
