name: coverage CI

on: [push, pull_request]

jobs:
  build:
    if: github.repository == 'ant-design/pro-components'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run test:coverage --maxWorkers=1
        env:
          CI: true
          PROGRESS: none
          NODE_ENV: test
          NODE_OPTIONS: --max_old_space_size=4096
      - run: bash <(curl -s https://codecov.io/bash)
